**/.git
envsettings.ps1
envsettings.ps1.template
helpers.ps1
LICENSE
compose.yml
compose.tests.yml
build.ps1
azure-pipelines.yml
.gitignore
.drone.yml
readme.md
serviceaccount/*
chart/*
Dockerfile
Dockerfile.debug
Dockerfile.aarch64
Dockerfile.armhf
Dockerfile.debian
Dockerfile.local
Dockerfile.tests
